<div id="taxpert-banner" class="taxpert-banner hidden" role="status" aria-label="Taxpert Enabled">
    <span class="taxpert-banner__content">Taxpert Enabled</span>

    <a class=" taxpert-banner__tab" href="/app/eitc/">
       <span class=" taxpert-banner__tab-label" aria-hidden="true">User View</span>
       <span class="usa-sr-only">User View</span>
    </a>

    <a class=" taxpert-banner__tab" href="/app/eitc/all-screens/">
       <span class=" taxpert-banner__tab-label" aria-hidden="true">All Screens</span>
       <span class="usa-sr-only">All Screens</span>
    </a>

    <a class=" taxpert-banner__tab" href="http://localhost:5180/" target="_blank" rel="noopener noreferrer">
       <span class=" taxpert-banner__tab-label" aria-hidden="true">Formative Studio</span>
       <span class="usa-sr-only">Formative Studio</span>
    </a>
</div>