<div class="audit-panel__section" id="audit-panel-fact-graph-section" data-tab="fact-graph">
   <h2>Fact Inspector</h2>
   <div id="audit-panel__fact-list"></div>
   <div class="usa-form-group">
      <label
         class="usa-label twe-question"
         th:for="fact-select"
         th:text="#{audit.fact-select.question}"></label>
      <input
         list="fact-options"
         class="usa-input"
         onkeydown="pathSelectListener(event)"
         id="fact-select">
      <datalist id="fact-options" aria-invalid="false"></datalist>
   </div>
   <div class="usa-form-group">
      <label
         class="usa-label twe-question"
         th:for="fact-collection-id"
         th:text="#{audit.collection-id-label}"></label>
      <input
         th:id="fact-collection-id"
         class="usa-input"
         type="text"
         autocomplete="off"
         aria-invalid="false">
   </div>
   <button
      class="usa-button"
      id="add-fact-button"
      type="button"
      onclick="trackSelectedFact()">
   Add fact
   </button>
</div>
