<div class="audit-panel__section" id="audit-panel-view-options-section" data-tab="view-options">
   <h2>Flow Inspector</h2>
   <fieldset class="usa-fieldset padding-bottom-4">
      <legend class="usa-legend usa-sr-only">View options</legend>
      <div class="usa-checkbox">
         <input
            class="usa-checkbox__input"
            id="show-conditions"
            type="checkbox"
            name="view-options"
            value="show-conditions"
            />
         <label class="usa-checkbox__label" for="show-conditions"
            >Show conditions</label
            >
      </div>
   </fieldset>
</div>
